div.stars .glyphicon {
    font-size: 45px;
    color:gold;
}

.glyphicon-star, .glyphicon-star-empty {
    color:gold;
}

.hiddenform{
    display:none;
}

body {
	background-image: url("cream_dust.png");
    background-repeat: repeat;
}