{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
    Favor Form
{% endblock %}
{% block content %}
    <h1>Favor Form</h1>
    <hr/>
    <form method="post" action="finish">
        {% csrf_token %}
        {% bootstrap_form form %}
        <label class="control-label" for="id_tags">Tags</label>
    <div class="input-group" id="current_tags"></div>
        <input autocomplete="off" class="form-control" id="id_tags_input" name="tags"
               placeholder="At least one tag, separated by commas" title="" type="text">
        <br/>
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}

        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <div>Suggestions: <span id="suggestions"></span></div>
{% endblock %}