{% extends "base.html" %}

{% block title %}Favor{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <p><a href={% url "barter:user_detail" object.author.pk %}><b>{{ object.author }}</b></a>: {{ object.message }}</p>
    <div>{{ hello }}</div>
    {% if object.author.pk != user.pk %}
        <a class="btn btn-default" href={% url "barter:create_offer" object.pk user.pk %}>Reply with an offer</a>
        <br/>
    {% endif %}
    <br/>
    {% if object.offers.count > 0 %}
        <h4>Current offers</h4>
        <div>
            {% for offer in object.offers.all %}
               <div><a href={% url "barter:user_detail" offer.trader.pk %}><b>{{ offer.trader }}</b></a>: {{ offer.message }}</div>
            {% endfor %}
        </div>
    {% else %}
        <h4>No offers yet</h4>
    {% endif %}

{% endblock %}