{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Edit Favor {% endblock %}
{% block content %}
    <h1>Edit Favor</h1>
    <hr/>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='Save changes' %}{% endbuttons %}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <hr/>
    <form method="post" action={% url "barter:favor_delete" favor_pk %}>
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" name="delete_favor" value="Delete Favor" />
    </form>
{% endblock %}