{% extends "base.html" %}

{% block title %}Favor{% endblock %}

{% block content %}
    <div>
        {% for offer in offer_threads %}
        <div>{{ offer.pub_date}}{{ offer.message }}</div>
        {% endfor %}
    </div>
    <h1>{{ object.title }}</h1>
    <p><a href={% url "barter:user_detail" object.author.pk %}><b>{{ object.author }}</b></a>: {{ object.message }}</p>
    <div>{{ hello }}</div>
    {% if object.author.pk != user.pk %}
        <a class="btn btn-default" href={% url "barter:create_offer" object.pk user.pk %}>Reply with an offer</a>
        <br/>
    {% endif %}
    <br/>
    {% if object.offers.count > 0 %}
        <h4>Current offers</h4>
        <div>
            {% for offer in object.offers.all %}
                <div>
                {% if offer.made_by_asker %}
                    <a href={% url "barter:user_detail" object.author.pk %}><b>{{ object.author }}</b></a>: {{ offer.message }}
                {% else %}
                    <a href={% url "barter:user_detail" offer.trader.pk %}><b>{{ offer.trader }}</b></a>: {{ offer.message }}
                {% endif %}
                {% if object.author.pk == user.pk %}
                    <a href={% url "barter:create_offer" object.pk offer.trader.pk %}>Reply</a>
                    <form action={% url "barter:favor_detail" object.pk %} method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="trader" value="{{ offer.trader.pk }}"/>
                        <input type="submit" value="Accept" />
                    </form>
                {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h4>No offers yet</h4>
    {% endif %}

{% endblock %}