{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}
    Favor Form
{% endblock %}
{% block content %}
    <h1>Favor Form</h1>
    <hr/>
    {% if user.is_confirmed%}
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            <label class="control-label" for="id_tags">Tags</label>
            <div class="input-group tags" id="current_tags" style="min-height: 35px"></div>
            <div class="tags">Suggestions: <span class="tags" id="suggestions"></span></div>
            <input autocomplete="off" class="form-control" id="id_tags_input"
                   placeholder="At least one tag, separated by commas" title="" type="text">
            <br/>
            {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}

            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    {% endif %}

{% endblock %}