{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Feedback Thread{% endblock %}

{% block content %}
    <h1>Feedback Thread</h1>
    <div>
        {% for feedback in thread %}
            <div>
                {{ feedback.pub_date | date:"m/d/y h:i A"}} -
                {{ feedback.message }}
            </div>
        {% endfor %}
    </div>
    <hr/>

    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <label class="control-label" for="id_rating">Rating</label>
        <div class="stars">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true" id="1"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true" id="2"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true" id="3"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true" id="4"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true" id="5"></span>
        </div>
    <br />
        {% block button %}
            {% buttons submit="Submit Feedback" %}{% endbuttons %}
        {% endblock %}
    </form>
{% endblock %}