{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <hr/>
    <p>
	    {% if user.is_authenticated %}
	    	Hello {{ user.get_full_name | title }}!
	    {% else %}
	    	Welcome to Barter!
	    {% endif %}
	</p>
	<p>Barter is made to allow people to conduct trade the old fashioned way, through favors and non-monetary items, while still providing a modern platform to do so.</p>
	<p>Our development team consists of Minhtri Tran, Andy Tang, Wilson Li, and Alyssa Lui.</p>
{% endblock %}