{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Offer Thread{% endblock %}

{% block content %}
    <h1>Offer Thread</h1>
    <div>
        {% for offer in thread %}
            <div>
                {{ offer.pub_date | date:"m/d/y h:i A"}} -
                {% if offer.made_by_asker %}
                    <a href={% url "barter:user_detail" offer.favor.author.pk %}><b>{{ offer.favor.author }}</b></a>:
                {% else %}
                    <a href={% url "barter:user_detail" offer.trader.pk %}><b>{{ offer.trader }}</b></a>:
                {% endif %}
                {{ offer.message }}
            </div>
        {% endfor %}
    </div>
    {% if user.is_confirmed%}
        {% if user.pk == author or user.pk = trader %}
            <hr/>
            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% block button %}
                    {% buttons submit="Reply with offer" %}{% endbuttons %}
                {% endblock %}
            </form>
        {% endif %}
    {% endif %}
{% endblock %}