{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <h1>Users</h1>
    <hr/>
     <ul class="list-unstyled">
        {% for object in object_list %}
            {% if object.is_confirmed %}
            <li> <a href="{{ object.pk }}">{{ object.get_full_name }}</a></li>
            {% endif %}
        {% endfor %}
      </ul>

    {% if is_paginated %}
        <div class="text-center">
            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="/users?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {%  endif %}
                    <li><a>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                    {% if page_obj.has_next %}
                        <li>
                            <a href="/users?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}