{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Edit Profile {% endblock %}
{% block content %}
    <h1>Edit Profile</h1>
    <hr/>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <h2 class="btn btn-default btn-lg">
            Change Password
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </h2>
        <br/>
        <br/>
        <div class="hiddenform">{% bootstrap_form form2 %}</div>

        {% buttons submit='Save' reset="Cancel" %}{% endbuttons %}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}