{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}User{% endblock %}

{% block content %}
    <h1>User Profile
        {% if object == currentUser %}
        <a class="btn btn-default" href="edit">Edit Profile</a>
        {% endif %}
    </h1>

    <hr/>
    <div class="col-md-5">
    <h3>Information</h3><hr/>
        <dl class="dl-horizontal">
            <dt>Email</dt>
            <dd>
                {{ object.email }}
                <span><small>
                    (
                    {% if object.is_confirmed %}
                        <span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span> verified
                    {% else %}
                        <span class="glyphicon glyphicon-minus" style="color:red" aria-hidden="true"></span>
                        {% if object.pk == currentUser.pk %}
                            <a href={% url "barter:user_verify_resend" object.pk %}>not verified</a>
                        {% else %}
                            not verified
                        {% endif %}
                    {% endif %}
                    )
                </small></span>
            </dd>
            <dt>First Name</dt><dd>{{ object.first_name }}</dd>
            <dt>Last Name</dt><dd>{{ object.last_name }}</dd>
            <dt>Date of Birth</dt><dd>{{ object.date_of_birth }}</dd>
            <dt>Gender</dt><dd>{{ object.gender }}</dd>
            <dt>Last Login</dt><dd>{{ object.last_login }}</dd>
            <dt>Average Rating</dt><dd>{{ object.rating }}</dd>
        </dl>
    </div>

    <div class="col-md-7">
    <h3>Ratings</h3><hr/>
    {% for star in stars %}
        <div class="col-md-3">
            {% for stars in stars %}
                {% if forloop.counter <= forloop.parentloop.counter %}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                {% endif %}
            {% endfor %}
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{ star }}" aria-valuemin="0" aria-valuemax="{{ max }}" style="width:0%;">
          </div>
        </div>
    {% endfor %}
    </div>

    <br />
    <div class="col-md-12">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#feedback" aria-controls="feedback" role="tab" data-toggle="tab">Feedback</a></li>
        <li role="presentation"><a href="#favors" aria-controls="favors" role="tab" data-toggle="tab">Favors</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="feedback">
            <br/>
            {% if object.feedbacks_received.count > 0 %}
            {% for feedback in fb_thread %}
            <div  class="panel panel-default">
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            {{ feedback.sender }}
                            <br/>
                            {{ feedback.pub_date | date:"m/d/y h:i A" }}
                            <br/>
                            {% for star in stars %}
                                {% if forloop.counter0 < feedback.rating %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% endif %}
                            {% endfor %}
                            {% if feedback.sender == currentUser %}
                                <br/>
                            <a  class="btn btn-default" href="{% url 'barter:feedback_edit' object.pk feedback.pk %}">
                            edit
                            </a>
                        {% endif %}
                        </dt>
                        <dd>
                            {{ feedback.message }}
                        </dd>

                    </dl>

                </div>
                {% if feedback.last_edit != None %}
                <div class="panel-body">
                    <footer class="footer">

                        Last Edit: {{ feedback.last_edit }}

                    </footer>
                </div>
                {% endif %}
            </div>
        {% endfor %}
         {% else %}
                There's no feedback for this user yet.
        {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane" id="favors">
            <br/>
            {% if object.favors_authored.count > 0 %}
            {% for favor in favor_thread %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4><a href="{% url "barter:favor_list" %}{{ favor.pk }}" style="text-decoration: none">{{ favor.title }}</a></h4>
                    <p>{{ favor.message }}</p>
                    <div class="col-md-6 tags">
                        {% for tag in favor.tags.all %}
                            <span><a class="btn btn-info btn-xs" href="{% url "barter:favor_list_tagged" tag.slug %}">{{ tag }}</a></span>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                            Author: <a href="{{ favor.author.pk }}">{{ favor.author.get_full_name }}</a>
                    </div>
                    <div class="col-md-3">
                            Created on: {{ favor.pub_date }}
                    </div>
                </div>
            </div>
            {% endfor %}
         {% else %}
                This user has not posted any favor yet.
        {% endif %}
        </div>
    </div>
    <hr/>
    </div>

{% endblock %}